<h2>Question Details</h2>
<hr>
<fieldset class="list-group-item">
  <legend>
    <div class="pull-left">
      {{question.question}}
    </div>
    <div class="pull-right">
      {{question.publishedDate | date:'medium'}}
    </div>
  </legend>
  <div class="form-check"
       *ngFor="let choice of question.choices; let i = index">
    <label class="form-check-label">
      <input type="radio" class="form-check-input" name="optionsRadios"
             (change)="onchange(choice.url)">
      {{choice.choice}}
    </label>
    <div class="pull-right">
      Votes <{{choice.votes}}>
    </div>
  </div>
  <hr>
  <button type="submit"
          (click)="onSubmit()"
          class="btn btn-success"
          [disabled]="this.selectedChoice===null">Save Vote
  </button>
</fieldset>
